.menu {
  display: flex;
}

.menu > svg {
  margin: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #66fcf1;
}

.actualMenu {
  position: absolute;
  top: 5vh;
  bottom: 5vh;
  left: -15vw;
  right: 100vw;
}

.actualMenu.open {
  animation: slideOpen 0.5s forwards;
}

@keyframes slideOpen {
  from {
    left: -15vw;
    right: 100vw;
  }
  to {
    left: 0vw;
    right: 85vw;
  }
}

.menuItem {
  overflow: hidden;
  margin: 4px;
  border: solid #45a29e 1px;
  color: #66fcf1;
  background-color: #1f2833;
  height: 32px;
  left: 0;
  right: 0;
  position: relative;
  display: flex;
}

.menuItem span {
  margin: auto;
}
