.def-container {
  display: flex;
  flex-direction: column;
  margin: 4px 0;
  line-height: 30px;
}
.def-container > * {
  padding-left: 4px;
  padding-right: 4px;
}
.def-header {
  background: #006fa7;
  color: white;
  flex: 1;
  font-size: 16pt;
}
.def-body {
  flex: 1;
  background: #cff0ff;
  text-align: justify;
  font-size: 14pt;
}
