.proof-container {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
}
.proof-container .katex {
  font-size: 1.2rem;
}
.paper {
  line-height: 30px;
  padding: 6px 16px 8px;
  position: relative;
  border: 1px solid #b5b5b5;
  background: white;
  background: linear-gradient(top, #dfe8ec 0%, white 8%) 0 32px;
  background-size: 100% 30px;
}
.paper:not(:last-child) {
  margin: 4px 0;
}
.paper .katex-display {
  margin: 30px 0;
}
.paper .katex-display:last-child {
  margin-bottom: 0;
}
.paper .katex-display:only-child {
  margin: 0;
}