.code-container {
  overflow: auto;
  border-radius: 0.3em;
  background: #272822;
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}
.code-container > div {
  padding: 0px 16px;
}
.code-container > div:not(:first-child) {
  color: green;
  border: solid white 1px;
}
