.pool {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: auto;
}
.pool > * {
  flex: 1 0 21%;
  border: solid orange 1px;
  background-color: navy;
  margin: 1%;
}
.not-a-deck {
  background-color: grey;
  display: flex;
  text-decoration: none;
  color: black;
  flex: 1 0 21%;
}
