.footer {
  background-color: #1f2833;
  grid-column: 1 / 12;
  grid-row: 12;
  display: flex;
}

.footer span {
  color: #C5C6C7;
  margin: auto 12px;
  font-size: 1.2rem;
}
.footer img {
  max-height: 32px;
  max-width: 32px;
  margin: auto;
}

.footer a {
  display: flex;
  padding: 4px;
}
