.header {
  background-color: #1f2833;
  grid-column: 1 / 12;
  grid-row: 1;
  display: grid;
  grid-template-columns: 10vmin auto 10vmin;
}

.header h1 {
  grid-column: 2;
  color: #c5c6c7;
  margin: auto;
}

.header .image {
  grid-column: 3;
  overflow:hidden;
  object-fit: contain;
}

.image img {
  width: 100%;
  border-radius: 100%;
}

.header .menu {
  grid-column: 1;
  margin: auto;
  border-radius: 100%;
  border: solid #66fcf1 2px;
  width: 100%;
  height: 100%;
  background-color: #66fcf22d;
}