#main {
  display: grid;
  grid-template-columns: 5% auto 5%;
  grid-template-rows: 10% 10% auto 5%;
}

#main > h1 {
  grid-column: 2;
  grid-row: 1;
  color: #66fcf1;
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 2rem;
}
#main > p {
  grid-column: 2;
  grid-row: 2;
  color: #c5c6c7;
  font-size: 1.2rem;
  text-justify: distribute;
}
#main .stundenplan {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  flex-wrap: wrap;
  color: #c5c6c7;
}

.stundenplan .semester {
  display: flex;
  flex: 1 0 48%;
  flex-direction: column;
  margin: 1%;
}
.semester .title {
  border: solid #45a29e 1px;
  background-color: #1f2833;
  font-size: 1.4rem;
  text-align: center;
}
.semester .item {
  border: solid #45a29e 1px;
  font-size: 1.2rem;
  display: flex;
  text-decoration: none;
  color: #c5c6c7;
}
.semester .item:hover {
  background-color: #45a29e;
  color: #66fcf1;
}
.semester .item * {
  margin: auto;
}
