.card {
  font-family: Source Sans Pro;
  overflow-y: auto;
  word-break: break-word;
  color: white;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 10%;
}
.front,
.back {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
}

.container-q,
.container-a,
.container-t {
  align-items: center;
  text-align: center;
  margin: auto;
}

.container-q *,
.container-a *,
.container-t * {
  margin: auto;
}

.container-q,
.container-a,
.container-t {
  display: flex;
}
.container-img {
  /* display: flex; */
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.gatsby-image-wrapper {
  /* display: flex; */
  align-items: center;
  margin: auto;
}

figcaption {
  color: black;
  background-color: lightgrey;
  padding-left: 16px;
}

.lightbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.container-code {
  margin: auto;
  display: inline-flex;
  flex-direction: column;
  background-color: lightgray;
  color: black;
}
.container-code pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
