.browser {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.menu {
  background-color: navy;
  border-top: solid orange 4px;
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;
  height: 64px;
  text-align: center;
}
.menu > * {
  font-size: 2rem;
  flex: 1;
  color: ghostwhite;
  display: flex;
}
.menu > * > * {
  margin: auto;
}

.shower {
  border-left: solid orange 4px;
  border-right: solid orange 4px;
  flex: 4;
}

.header {
  display: flex;
  background-color: navy;
  border-bottom: solid orange 4px;
  color: white;
  justify-content: center;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
