#mdx {
  background-color: #c5c6c7;
  display: flex;
  flex-direction: column;
  color: #0b0c10;
  padding: 0 15%;
  word-break: break-all;
}

@media only screen and (max-width: 740px) {
  #mdx {
    padding: 0 8px;
  }
}

#mdx > *:not(:last-child) {
  margin-bottom: 8px;
}

/* #mdx * {
  border: solid red 1px; 
} */

#mdx > h1 {
  font-size: 24pt;
  text-align: center;
}
#mdx > h1:not(:first-child) {
  border-top: solid black 4px;
  margin: 24px 0;
}
#mdx > h2 {
  font-size: 18pt;
}
#mdx > h2:not(:last-child),
#mdx > h3:not(:last-child),
#mdx > h4:not(:last-child),
#mdx > h5:not(:last-child),
#mdx > h6:not(:last-child) {
  margin-bottom: 8px;
}
#mdx > h3,
#mdx > h4,
#mdx > h5,
#mdx > h6 {
  font-size: 14pt;
}

#mdx p {
  padding-left: 20px;
  margin-bottom: 4px;
}
#mdx ol,
#mdx ul {
  padding-left: 36px;
  margin-bottom: 4px;
}

#mdx .gatsby-image-wrapper {
  overflow: unset !important;
}
#mdx .gatsby-image-wrapper img {
  object-fit: unset !important;
}
#mdx > div > pre {
  padding: 0.4rem;
}
#mdx > div > pre > div:last-child {
  display: none;
}

hr {
  margin: 0 !important;
}

#mdx blockquote {
  background-color: white;
  border-left: solid 3px #424242;
  margin: 16px 10%;
  padding: 10px 5px;
}

#mdx blockquote p {
  margin: auto;
}

#mdx table {
  background-color: white;
  border-collapse: collapse;
  width: 100%;
  font-size: 1.1rem;
}
#mdx table,
tr,
th {
  border: 1px solid black;
  padding: 0 4px;
}
#mdx tr:nth-child(even) {
  background-color: #f2f2f2;
}
#mdx td {
  padding: 0 4px;
}

#mdx td:not(:last-child) {
  border-right: solid black 1px;
}

#mdx table.centered {
  text-align: center;
}
