.deck {
  text-align: center;
  word-break: break-word;
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
}
.counter {
  position: absolute;
  bottom: 4px;
  right: 4px;
}
