.grid {
  /* display: grid;
  grid-template-columns: repeat(11, auto);
  grid-template-rows: 10vh repeat(9, auto) 10vh; */
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #0b0c10;
}
.main {
  /* grid-column: 1 / 12; */
  /* grid-row: 2 / 12; */
  flex: 1;
  overflow: auto;
}

@media only screen and (max-width: 740px) {
  h1 {
    font-size: 16pt;
  }
}
