.preview {
  display: flex;
  flex: 9;
}
.editor {
  display: flex;
  flex-direction: column;
  color: white;
  border: solid orange 4px;
}
.jsonResult {
  border-bottom: solid orange 4px;
  display: flex;
  background-color: navy;
  border: none;
  color: white;
}
.textfield {
  flex: 1;
}
