.problem-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  line-height: 30px;
}

.problem-container > .problem-name {
  color: black;
  margin-bottom: 8px;
  padding: 4px;
  background-color: orange;
  font-size: 16pt;
}

.problem-container > div {
  flex: 1;
  display: flex;
  margin-bottom: 8px;
  padding: 0 8px;
}

.problem-container > div > b {
  font-size: 16pt;
  flex: 1 5%;
}

.problem-container > div > div {
  flex: 7;
  font-size: 14pt;
}

.problem-container > .problem-notes {
  border-top: solid orange;
}
.problem-container > .problem-name,
.problem-container > .problem-notes {
  margin: 0;
}
.problem-container ul {
  padding-left: 16px !important;
}
