.example-container {
  display: flex;
  flex-wrap: wrap;
}
.example-container > * {
  padding-left: 4px;
  padding-top: 2px;
  line-height: 30px;
}
.example-layout > div:first-child {
  background-color: green;
}
.example-layout > div {
  background-color: #cfffed;
}
